/* Burası layout.html  */
.logo {
  height: 50px; /* Logo yüksekliği */
  width: auto; /* Genişlik oranını korur */
  margin-right: 10px; /* Sağ tarafa boşluk ekler */
  transition: transform 0.3s ease; /* Geçiş efekti */
}

.logo:hover {
  transform: scale(1.1); /* Üzerine gelindiğinde biraz büyür */
}

#userDropdown {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
#sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1040;
}

#sidebar.show {
  left: 0;
}

#toggle-sidebar {
  left: 10px;
  z-index: 1050;
  position: absolute;
}

#toggle-new-chat {
  left: 50px;
  z-index: 1050;
  position:absolute;
}

#toggle-logo {
  left:90px;
  z-index: 1050;
  position: absolute;
}

.nav-item .nav-link:hover {
  background-color: #ddd;
  color: #000;
}

.contact-us-text{
  color: #414040;
}

.footer-contact-us-icons:hover{
  font-size: larger;
  color: #2196F3;
}

/* Burası index.html */

.flash-container {
  z-index: 1050;
}

.alert.fade {
  opacity: 1;
  transition: opacity 0.5s;
}

#chat {
  margin-bottom: 50px;
  height: 570px;
}

#hiddenContent {
  display: none;
  height: 85%; /* Maximum height before scrolling */
  overflow-y: auto;   /* Enable vertical scrolling */
  margin-bottom: 40px;
}

#content {
  margin-top: 170px;
  padding-right: 150px;
}

#header {
  font-weight: 500;
  font-size: 30px;
}

#chatBeginning {
  min-height: 110px;
  width: 90%;
  border-style: none;
  border-radius: 25px;
  background-color: rgb(240, 242, 242);
}

/* Chat işlemleri için */
.chat-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chat-question {
  background-color: rgb(237, 237, 237);
  color: rgb(15, 15, 15);
  width: 60%;
  padding: 10px;
  margin-left: auto;
  /* Aligns the question to the right */
  border-radius: 5px;
  margin-bottom: 5px;
}

#exampleFormControlTextarea1 {
  background-color: rgb(240, 242, 242);
  border-style: none;
}

/* Login.html and Signup.html*/
.custom-width {
  width: 400px;
}

#signup-password-input,
#signup-submit-button,
#login-password-input,
#login-submit-button {
  display: none;
}

.blankPlace {
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.authLogoButton {
  grid-template-columns: auto 1fr;
}

.authLogoImage {
  width: 20px;
  margin: 0px 8px;
}

.authLogoText {
  text-align: left;
  margin-left: 20px;
}

.toastAlert {
  z-index: 1050;
}

/* Profile.html*/

/* All Quiz Part css */
.quizBackground {
  height: 90%;
  background-color: #F5F5DC;
}

.quizStartTemplate {
  height: 90%;
}

#quiz-info-list {
  list-style-type: circle;
}

.redSpan {
  color: red;
}

#quiz-start-button {
  background-color: #219700;
  color: white;
  cursor: pointer;
  height: 45px;
  transition: 0.3s;
}

#quiz-start-button:hover {
  background-color: #27b300;
  box-shadow: 0 0 0 5px #87ff66;
}

#quiz-options>div {
  margin: 6px 0;
}

#quiz-options>div>label {
  margin: 0 6px;
  font-size: 18px;
}

.quiz-buttons {
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  height: 45px;
  transition: 0.3s;
}

#back-button {
  background-color: #ffffff;
  color: black;
}

#back-button:hover {
  background-color: #ececec;
  box-shadow: 0 0 0 5px #e0e0e0;
}

#next-button {
  background-color: #2196F3;
  color: white;
}

#next-button:hover {
  background-color: #2798fa;
  box-shadow: 0 0 0 5px #87CEEB;
}

#submit-button {
  background-color: #4CAF50;
  color: white;
}

#submit-button:hover {
  background-color: #43A047;
  box-shadow: 0 0 0 5px #87FF66;
}



.nav-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.language-flag {
  width: 30px;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.language-flag:hover {
  transform: scale(1.1);
}

.languages-login {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0 5px;
  display: flex;
  gap: 5px;
}

.languages-login img {
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.languages-login img:hover {
  transform: scale(1.1);
}

.quiz-result-card{
  background-color: #ffffff49;
}
.score-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  background-color: #ddd;
}
