/* Burası layout.html  */
.logo {
  height: 50px;
  width: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
}

.row {
  min-height: 700px; 
  margin-bottom: 40px;
}

.mainpart {
  min-height: 800px;
}

main {
  min-height: 700px;
  margin-top: 200px;
}

#userDropdown {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#sidebar {
  height: 90vh;
  width: 250px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1040;
  padding-bottom: 50px;
  margin-top: 60px;
  padding-top: 10px;
  margin-bottom: 50px;
}

#sidebar.show {
  left: 0;
}

#toggle-sidebar {
  left: 10px;
  z-index: 1050;
  position: absolute;
}

#toggle-new-chat {
  left: 50px;
  z-index: 1050;
  position: absolute;
}

#toggle-logo {
  left: 90px;
  z-index: 1050;
  position: absolute;
}

.nav-item .nav-link:hover {
  background-color: #ddd;
  color: #000;
}

.contact-us-text {
  color: #414040;
}

.footer-contact-us-icons:hover {
  font-size: larger;
  color: #2196F3;
}

/* Burası index.html */
.flash-container {
  z-index: 1050;
}

.alert.fade {
  opacity: 1;
  transition: opacity 0.5s;
}

#chat {
  margin-bottom: 50px;
  height: 500px;
}

#hiddenContent {
  display: none;
  height: 85%;
  overflow-y: auto;
  margin-bottom: 40px;
  margin-top: 10px;
  scroll-behavior: smooth;
}

#hiddenContent-else {
  display: none;
  height: 85%;
  overflow-y: auto;
  margin-bottom: 40px;
  margin-top: 80px;
  scroll-behavior: smooth;
}

#content {
  margin-top: 170px;
  padding-right: 150px;
}

#header {
  font-weight: 500;
  font-size: 30px;
}

#chatBeginning {
  min-height: 110px;
  width: 90%;
  border-style: none;
  border-radius: 25px;
  background-color: rgb(240, 242, 242);
}

.modal {
  z-index: 1050 !important;
}

/* Body when modal is open */
body.modal-open {
  pointer-events: none;
}

/* Modal itself */
.enterTopic {
  display: none;
  width: 50%;
  position: fixed;
  top: 0;
  left: 25%;
  right: 25%;
  z-index: 1050;
  pointer-events: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Optional: Styling for backdrop */
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Chat işlemleri için */
.chat-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chat-question {
  background-color: rgb(237, 237, 237);
  color: rgb(15, 15, 15);
  width: 60%;
  padding: 10px;
  margin-left: auto;
  border-radius: 5px;
  margin-bottom: 5px;
}

#exampleFormControlTextarea1 {
  background-color: rgb(240, 242, 242);
  border-style: none;
  resize: none;
}

/* Login.html and Signup.html*/
.custom-width {
  width: 400px;
}

#signup-password-input,
#signup-submit-button,
#login-password-input,
#login-submit-button {
  display: none;
}

.blankPlace {
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.authLogoButton {
  grid-template-columns: auto 1fr;
}

.authLogoImage {
  width: 20px;
  margin: 0px 8px;
}

.authLogoText {
  text-align: left;
  margin-left: 20px;
}

.toastAlert {
  z-index: 1050;
}

/* All Quiz Part css */
.quizBackground {
  height: 90%;
  background-color: #F5F5DC;
}

.quizStartTemplate {
  height: 90%;
}

#quiz-info-list {
  list-style-type: circle;
}

.redSpan {
  color: red;
}

#quiz-start-button {
  background-color: #219700;
  color: white;
  cursor: pointer;
  height: 45px;
  transition: 0.3s;
}

#quiz-start-button:hover {
  background-color: #27b300;
  box-shadow: 0 0 0 5px #87ff66;
}

#quiz-options>div {
  margin: 6px 0;
}

#quiz-options>div>label {
  margin: 0 6px;
  font-size: 18px;
}

.quiz-buttons {
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  height: 45px;
  transition: 0.3s;
}

#back-button {
  background-color: #ffffff;
  color: black;
  display: none;
}

#back-button:hover {
  background-color: #ececec;
  box-shadow: 0 0 0 5px #e0e0e0;
}

#next-button {
  background-color: #2196F3;
  color: white;
}

#next-button:hover {
  background-color: #2798fa;
  box-shadow: 0 0 0 5px #87CEEB;
}

#submit-button {
  background-color: #4CAF50;
  color: white;
  display: none;
}

#submit-button:hover {
  background-color: #43A047;
  box-shadow: 0 0 0 5px #87FF66;
}

.nav-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.language-flag {
  width: 30px;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.language-flag:hover {
  transform: scale(1.1);
}

.languages-login {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0 5px;
  display: flex;
  gap: 5px;
}

.languages-login img {
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.languages-login img:hover {
  transform: scale(1.1);
}

.quiz-result-card {
  background-color: #ffffff49;
  height: 90%;
}

.score-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  background-color: #ddd;
}

#failure-card {
  display: none;
}

#failure-button {
  display: none;
}

img #b-picture {
  width: 100px;
  height: 100px;
}

#progressBarr {
  min-height: 20px;
  margin-top: 80px;
}

footer {
  position: relative; 
  bottom: 0;
  left: 0;
  width: 100%;  
  height: 70px;  
  background-color: rgb(49, 49, 49);
  z-index: 9999;
}

#quizButton {
  display: none; 
}
