{% extends "layouts/layout.html" %} {% block title %}Welcome{% endblock title %}
{% block content %}

<div class="flash-container position-absolute top-0 start-50 translate-middle-x p-3">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} fade show shadow" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>

<div class="container" id="chat">
    {% if current_user.is_authenticated %}
    <div class="container-fluid d-flex justify-content-start" id="progressBarr"></div>
    
    <div class="container-fluid" id="hiddenContent"></div>
    {% else %}
    <div class="container-fluid" id="hiddenContent"></div>
    {% endif %}
    
    <div class="container-fluid" id="content">
        <h1 class="display-4 text-center mb-4" id="header">
            {{ _('What Can I Help With?') }}
        </h1>
        <div class="container_fluid d-flex w-100">
            <div class="container pt-2 pb-2" id="chatBeginning">
                <form id="messageForm">
                    <div class="mb-1">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"
                            placeholder="{{ _('Message') }}" required></textarea>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-secondary" id="askButton">
                            {{ _('Ask') }}
                        </button>
                        <button class="btn btn-secondary" id="quizButton" onclick="startQuizz(event);">{{ _('Start Quiz') }}
                        </button>
                        
                    </div>
                </form>
                
            </div>
            <button class="btn btn-secondary h-50" id="takeNoteButton" style="display: none;" onclick="takeNote(event);">{{ _('Take Note') }}
            </button>
        </div>
    </div>
</div>
{% endblock content %}