{% extends "layouts/layout.html" %} {% block title %}Welcome{% endblock title %}
{% block content %}

<div class="flash-container position-absolute top-0 start-50 translate-middle-x p-3">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} fade show shadow" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>

<div class="container-fluid mt-5" id="note-container" style="display: block;">
    <button id="closeNote" style="display: none;" onclick="closeNote(1);">{{ _('Back') }}</button>
    <div class="note-row">
        <form id="noteForm-1">
        <div class="note" id="note1" onclick="openNote(event, 1);">Click here to type...
            <!-- DATABASEYE ATILDIĞI İÇİN BUNU DEĞİŞMESİN-->
        </div>
        <button type="submit" id="submitNote1" class="note-button" style="display: none;">{{ _('Save') }}</button>
    </form>
        <div id="add-note">+</div>
    </div>
</div>


<script src="{{ url_for('static', filename='script/note.js') }}"></script>
{% endblock content %}
