{% extends "layouts/empty_layout.html" %} {% block title %}Quiz{% endblock title
    %} {% block content %}
    
    <div class="d-flex justify-content-center align-items-center vh-100 px-5">
        <div class="d-flex flex-column justify-content-around w-75 p-5 border border-light rounded-5" style=" height: 90%; background-color: #F5F5DC;">

            <div class="align-self-end" id="timer">
                <span class="border border-black border-opacity-25 rounded-2 fs-4 px-2 py-1 bg-light" id="time-left"></span>
            </div>

            <div class="d-flex flex-column align-items-evenly justify-content-center" id="quiz-container">
                <p id="quiz-question" class="my-4 fs-5"></p>
                <h6 class="mb-5">Please select one of the options below.</h6>
                <form id="quiz-options" class="d-flex flex-column">
                </form>
            </div>

            <div id="navigation-buttons" class="d-flex align-items-center justify-content-between">
                <div class="w-25">
                    <button class="quiz-buttons border border-0 rounded-3 w-50 px-2" id="back-button">Back</button>
                </div>
                <div class="d-flex justify-content-end w-25">
                    <button class="quiz-buttons border border-0 rounded-3 w-50" id="next-button">Next</button>
                    <button class="quiz-buttons border border-0 rounded-3 w-50" id="submit-button">Submit</button>
                </div>
                
                
            </div>
        </div>
    </div>
    
    {% endblock content %}
