{% extends "layouts/empty_layout.html" %} {% block title %}{{ _('Sign Up') }}{%endblock title %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow custom-width">
        <h3 class="text-center mb-5 mt-3">{{ _('Create an Account') }}</h3>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
        <div class="alert alert-danger">
            {% for category, message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %} {% endwith %}

        <form method="POST" action="{{ url_for('signup_page') }}">
            <div id="signup-mail-input" class="mb-3">
                <input type="email" class="form-control" id="signup-email" name="email" placeholder="{{ _('Email Address') }}" required />
            </div>
            <div id="signup-password-input" class="mb-3">
                <input type="password" class="form-control" id="signup-password" name="password" placeholder="{{ _('Password') }}" required />
            </div>
            <button type="button" id="signup-next-button" class="btn btn-success w-100">
                {{ _('Continue') }}
            </button>
            <button type="submit" id="signup-submit-button" class="btn btn-success w-100">
                {{ _('Sign Up') }}
            </button>
        </form>

        <div class="text-center mt-3">
            <p>
                <span>{{ _('Already have an account?') }}</span>
                <a href="{{ url_for('login_page') }}" class="text-decoration-none">
                    {{ _('Log In') }}
                </a>
            </p>
        </div>

        <div class="d-flex justify-content-center align-items-center text-center my-4">
            <div class="blankPlace"></div>
            <span class="mx-3">{{ _('OR') }}</span>
            <div class="blankPlace"></div>
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-outline-secondary d-grid align-items-center authLogoButton">
                <img src="https://auth.openai.com/assets/google-logo-NePEveMl.svg" alt="Google" class="authLogoImage" />
                <span class="authLogoText">{{ _('Continue with Google') }}</span>
            </button>
            <button class="btn btn-outline-secondary d-grid align-items-center authLogoButton">
                <img src="https://auth.openai.com/assets/microsoft-logo-BUXxQnXH.svg" alt="Microsoft" class="authLogoImage" />
                <span class="authLogoText">{{ _('Continue with Microsoft') }}</span>
            </button>
            <button class="btn btn-outline-secondary d-grid align-items-center authLogoButton">
                <img src="https://auth.openai.com/assets/apple-logo-vertical-full-bleed-tAoxPOUx.svg" alt="Apple" class="authLogoImage" />
                <span class="authLogoText">{{ _('Continue with Apple') }}</span>
            </button>
        </div>
    </div>
</div>

<!-- ALERT -->
<div class="toast-container position-absolute top-0 start-50 translate-middle-x p-3 toastAlert">
    <div id="emailToastforSignup" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">{{ _('Invalid Email') }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="{{ _('Close') }}"></button>
        </div>
        <div class="toast-body">
            {{ _('Please enter a valid email address.') }}
        </div>
    </div>
</div>

<div class="toast-container position-absolute top-0 start-50 translate-middle-x p-3 toastAlert">
    <div id="passwordToastforSignup" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">{{ _('Password Error') }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="{{ _('Close') }}"></button>
        </div>
        <div class="toast-body"></div>
    </div>
</div>

{% endblock content %}